.message {
    text-align: center;

    &.success {
        color: #02ba5a;
    }

    &.error {
        color: #b71212;
    }
}

.card-title {
    text-transform: uppercase;
}

.submit-box {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

input[type='file'] {
    padding: 0px;

    &::-webkit-file-upload-button {
        background: #ffffff90;
        height: 100%;
        border: none;
        color: #000;
    }
}

select {
    border-radius: 5px;

    option {
        background: #ffffff3f;
        color: #484040;
    }
}

textarea {
    height: 80px !important;

    &.short {
        height: 40px !important;
    }
}

textarea::-webkit-resizer {
    display: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.table {

    tbody tr {

        td {
            padding: .5rem 1rem !important;

            &.title {
                width: 100%;
            }

            &.question {
                width: 70%;
            }

            &.answer {
                width: 30%;
            }

            &.simulation-description {
                width: 60%;

                p {
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                }
            }

            &.empty {
                text-align: center;
                color: #b71212;
            }

            .alert-icon:has(.delete-row) {
                margin-right: 20px;
            }

            a.btn {
                color: #fff;
                background-color: #ffffff20;
                border-color: #ffffff20;
                box-shadow: 0 .125rem .25rem #00000013;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background-color: #41a3b22e;
                    border-color: #ffffff2e;
                }
            }

            p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                line-clamp: 5;
                text-align: justify;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: normal;
                white-space: normal;
            }

            .img-wrap {
                height: 40px;
                width: 40px;
                opacity: .9;

                .product-img {
                    height: 100%;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    object-position: top;
                    border-radius: 3px;
                }
            }

            .alert-icon .bi {

                &.bi-pencil-square:hover {
                    color: #14abef;
                }

                &.bi-trash:hover {
                    color: #f5365c;
                }

                &.bi-image:hover {
                    color: #36f572;
                }
            }
        }
    }
}

.brand-logo {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
}

.topbar-nav .navbar .navbar-nav .nav-item {

    .nav-link .fa-bell-o:hover {
        color: #06E706;
    }

    .nav-link .fa-envelope-open-o:hover {
        color: #e7dc06;
    }
}

.alert {

    &.added,
    &.updated {
        background-color: #02ba5a;
        border-color: #02ba5a;
    }

    &.notification {
        padding: 5px 0px;
        display: flex;
        align-items: center;
        background: #0000004c;
        cursor: pointer;

        &:hover {
            background: #00000080;
        }

        .img-wrap {
            width: 50px;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                border-radius: 50%;
            }
        }

        p {
            margin: 0px 15px;
            font-size: 17px;

            &.sender {
                width: 130px;
                width: 21%;
            }

            &.title {
                width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
            }
        }
    }

    &.empty {
        padding: 10px;
        display: flex;
        justify-content: center;
        background: #0000004c;
        margin: auto;

        p {
            margin: 0px;
            font-size: 20px;
            color: #b71212;
        }
    }
}

.dropdown-item {

    .drop-link {
        width: 100%;
        height: 100%;
    }
}

#charts-container {
    height: 75vh;
    padding: 0px;
    margin: 0px;

    .left {
        height: 100%;
        margin: 0px;
        padding: 0px;
        padding-right: 10px;

        .card {
            width: 100%;
            margin: 0px;
            height: 95%;
        }
    }

    .right {
        display: flex;
        flex: 1;
        height: 100%;
        padding: 0px;
        padding-left: 10px;

        .card {
            display: flex;
            flex: 1;
            height: 95%;

            .card-body {
                height: 100%;
                display: flex;
                flex: 1;
                align-items: center;

                .chart-container-2 {
                    display: flex;
                    flex: 1;
                }
            }
        }

    }
}

.profile-card-2 {

    .card-img-block {
        height: fit-content;
        padding: 20px;

        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: top;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-radius: 5px;
        }
    }

    .card-body {
        padding-top: 20px;
        padding-bottom: 20px;

        .profile-info-table {
            margin-bottom: 20px;

            tbody {

                tr td {
                    padding: 5px 0px !important;
                    border-top: none;

                    &:nth-child(2) {
                        text-align: right;

                        p {
                            margin: 0px;
                            padding: 0px;
                        }
                    }
                }
            }
        }

        .icon-block {
            display: flex;
            justify-content: center;

            a i {
                transition: all .2s ease;

                &:hover {
                    transform: scale(1.25);
                    text-shadow: 1px 1px 1px #14abef;
                }
            }
        }

    }
}

.profile-container {
    display: flex;
    align-items: stretch;

    .profile-details,
    .profile-tabs {
        display: flex;
        flex-direction: column;
    }

    .profile-tabs .card {
        flex: 1;
        max-height: 98vh;

        .card-body {
            display: flex;
            flex-direction: column;
            flex: unset;
            height: 100%;

            .tab-content {
                height: 90.4%;
                flex: 0 1 1;
                display: flex;

                .tab-pane {
                    width: 100%;
                }

                .tab-pane-2 {
                    width: 100%;
                    height: 100%;
                    padding-right: 15px;
                    overflow-x: hidden;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        width: 10px;
                    }

                    &::-webkit-scrollbar-track {
                        background: #c3bbbb38;
                        border-radius: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #c3bbbb7e;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}

.simulation-container {
    display: flex;
    align-items: stretch;

    .simulation-tabs {

        .card .card-body {

            .nav .nav-item {

                a {
                    padding: 0px 0px 5px;
                }
            }

            .tab-content {

                .simulation-wrapper {
                    min-height: calc(100vh - 320px);
                    padding: 15px 5%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 40px;

                    .description-wrap {

                        p {
                            text-indent: 50px;
                            text-align: justify;
                        }
                    }

                    .code-wrap {

                        pre code.hljs {
                            padding: 60px;
                            background: #000000b4;
                            border-radius: 5px;

                            span {
                                font-size: 13px;
                            }
                        }
                    }

                    .steps-wrap {

                        ul {
                            list-style: decimal;

                            li {
                                margin: 10px 0px;
                            }
                        }
                    }
                }

                .visualization-wrapper {
                    min-height: calc(100vh - 320px);
                    width: 100%;
                    display: flex;

                    .linear-search-wrapper,
                    .binary-search-wrapper,
                    .bubble-sort-wrapper,
                    .selection-sort-wrapper,
                    .insertion-sort-wrapper,
                    .merge-sort-wrapper,
                    .quick-sort-wrapper,
                    .infix-to-postfix-wrapper,
                    .postfix-evaluation-wrapper,
                    .one-d-arrays-wrapper,
                    .two-d-arrays-wrapper,
                    .linked-lists-wrapper,
                    .stacks-wrapper,
                    .queues-wrapper,
                    .trees-wrapper {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &.bubble-sort-wrapper,
                        &.selection-sort-wrapper,
                        &.insertion-sort-wrapper,
                        &.merge-sort-wrapper,
                        &.quick-sort-wrapper {

                            .array-wrapper {
                                margin: 20px;
                                align-items: flex-end;

                                .array-item {
                                    width: 30px;
                                    min-width: unset;
                                    height: 300px;
                                    align-items: flex-start;
                                    border-radius: 2px;
                                }
                            }

                            .array-builder-wrap {
                                margin: 30px 0px 0px;
                            }

                            .controls-wrap .controls {
                                justify-content: center;
                            }
                        }

                        &.stacks-wrapper {

                            .array-wrapper {
                                height: 100%;
                                width: 50%;
                                flex-direction: column-reverse;
                                justify-content: center;
                            }
                        }

                        &.queues-wrapper,
                        &.trees-wrapper {

                            .tree-wrapper {
                                position: relative;
                                margin: 20px 0px 0px;
                                width: 100%;
                                height: 400px;

                                svg.tree-lines {
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                    pointer-events: none;
                                    overflow: visible;

                                    path {
                                        stroke: #FFF;
                                        stroke-width: 3px;
                                        fill: none;
                                        stroke-linejoin: round;
                                        stroke-linecap: round;
                                    }
                                }

                                .tree-node {
                                    position: absolute;
                                    height: 50px;
                                    width: 50px;
                                    padding: 0px 10px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    opacity: 1;
                                    color: #000;
                                    background: #FFF;
                                    border-radius: 5px;
                                    transform: translate(-50%, -50%);
                                    transform-origin: center;
                                    transition: all 0.6s ease-in-out;
                                    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);

                                    &.active {
                                        background: #06E706;
                                    }

                                    &:hover {
                                        cursor: pointer;
                                    }

                                    &:nth-of-type(1) {
                                        left: 485px;
                                        top: 35px;
                                    }

                                    &:nth-of-type(2) {
                                        left: 245px;
                                        top: 135px;
                                    }

                                    &:nth-of-type(3) {
                                        left: 730px;
                                        top: 135px;
                                    }

                                    &:nth-of-type(4) {
                                        left: 97.5px;
                                        top: 235px;
                                    }

                                    &:nth-of-type(5) {
                                        left: 390px;
                                        top: 235px;
                                    }

                                    &:nth-of-type(6) {
                                        left: 582.5px;
                                        top: 235px;
                                    }

                                    &:nth-of-type(7) {
                                        left: 875px;
                                        top: 235px;
                                    }

                                    &:nth-of-type(8) {
                                        left: 50px;
                                        top: 335px;
                                    }

                                    &:nth-of-type(9) {
                                        left: 147px;
                                        top: 335px;
                                    }

                                    &:nth-of-type(10) {
                                        left: 340px;
                                        top: 335px;
                                    }

                                    &:nth-of-type(11) {
                                        left: 440px;
                                        top: 335px;
                                    }

                                    &:nth-of-type(12) {
                                        left: 535px;
                                        top: 335px;
                                    }

                                    &:nth-of-type(13) {
                                        left: 632.5px;
                                        top: 335px;
                                    }

                                    &:nth-of-type(14) {
                                        left: 827.5px;
                                        top: 335px;
                                    }

                                    &:nth-of-type(15) {
                                        left: 922.5px;
                                        top: 335px;
                                    }
                                }
                            }
                        }

                        .array-wrapper {
                            position: relative;
                            height: fit-content;
                            width: 100%;
                            margin: 10px 0px 50px;
                            padding: 30px;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 5px;

                            &.two-d-array-wrapper {
                                flex-direction: column;

                                .row-wrap {
                                    display: flex;
                                    gap: 10px;
                                }
                            }

                            &.p-b-2 {
                                margin: 10px 0px 0px;
                            }

                            &.list-wrapper {
                                gap: 0px;
                                padding-top: 60px;
                                margin-bottom: 0px;

                                .fa {
                                    font-size: 25px;
                                    font-weight: bold;
                                    padding: 0px 5px;
                                }

                                .links {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    pointer-events: none;
                                }
                            }

                            .array-item {
                                min-width: 50px;
                                height: 50px;
                                padding: 0px 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                opacity: 1;
                                background: #FFFFFF9b;
                                border-radius: 5px;
                                will-change: transform;
                                transform-origin: center;
                                transition: all 0.6s ease-in-out;

                                &.hidden {
                                    opacity: 0;
                                }

                                &.not-found,
                                &.remove {
                                    background: #01010160;

                                    span {
                                        color: #FFFFFFBB;
                                    }
                                }

                                &.found,
                                &.active {
                                    background: #FFFFFF;

                                    span {
                                        color: #02ba5a;
                                    }
                                }

                                &.min,
                                &.sorted {
                                    background: #FFFFFF;

                                    span {
                                        color: #00000071;
                                    }
                                }

                                &.comparing,
                                &.key,
                                &.merged {
                                    background: #92F9BD;

                                    span {
                                        color: #00000047;
                                    }
                                }

                                &.split-left {
                                    background: #14abef;
                                }

                                &.split-right {
                                    background: #92F9BD;

                                    span {
                                        color: #00000047;

                                    }
                                }

                                &.partition {
                                    background: #e7dc06;
                                }

                                &.pivot {
                                    background: #14abef;
                                }

                                &.match {
                                    background: #92F9BD;

                                    span {
                                        color: #353333d3;
                                    }
                                }

                                span {
                                    font-size: 18px;
                                    font-weight: bold;
                                }
                            }
                        }

                        .array-builder-wrap,
                        .character-builder-wrap,
                        .controls-wrap {
                            width: 60%;
                            margin: 30px 0px;
                            display: flex;
                            flex-direction: column;

                            &.wide {
                                width: 90%;
                            }

                            &.full {
                                width: 100%;
                            }

                            &.two-d-array-builder {
                                flex-direction: row;
                                column-gap: 10px;

                                .input-box {
                                    display: flex;
                                    flex-direction: column;

                                    input[type="number"] {

                                        &::-webkit-inner-spin-button,
                                        &::-webkit-outer-spin-button {
                                            display: none;
                                        }
                                    }
                                }

                                .build-btn-wrap {
                                    display: flex;
                                    align-items: flex-end;

                                    .btn {
                                        width: fit-content;
                                        white-space: nowrap;
                                    }
                                }
                            }

                            &.list-controls {
                                margin: 0px 0px 30px;
                                row-gap: 10px;
                                flex-wrap: wrap;

                                .controls {
                                    display: flex;
                                    flex-wrap: wrap;
                                }
                            }

                            &.tree-controls {
                                margin-top: 30px;
                            }

                            .array-builder,
                            .character-builder,
                            .controls {
                                display: flex;
                                gap: 10px;
                                justify-content: center;

                                input[type="number"] {

                                    &::-webkit-inner-spin-button,
                                    &::-webkit-outer-spin-button {
                                        display: none;
                                    }
                                }

                                button {
                                    width: fit-content;
                                    white-space: nowrap;
                                }
                            }

                            .inputs-wrap {
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                column-gap: 10px;

                                .input-box {
                                    display: flex;
                                    flex-direction: column;
                                    flex: 1;

                                    input {

                                        &::-webkit-inner-spin-button,
                                        &::-webkit-outer-spin-button {
                                            display: none;
                                        }
                                    }
                                }

                                .reset-wrap,
                                .btn-wrap {
                                    display: flex;
                                    align-items: flex-end;
                                    gap: 7px;
                                }
                            }
                        }

                        .algorithm-wrapper {
                            width: 90%;
                            margin-bottom: 30px;
                            display: flex;
                            column-gap: 20px;

                            .input-wrapper,
                            .output-wrapper {
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                padding: 20px;
                                gap: 20px;
                                background: #0000001d;
                                border-radius: 5px;

                                .characters-wrap,
                                .operator-wrap,
                                .stack-wrap {
                                    display: flex;
                                    flex-direction: column;

                                    h1 {
                                        font: .75rem "Roboto";
                                        text-transform: uppercase;
                                        color: #FFFFFFBF;
                                        text-transform: uppercase;
                                        letter-spacing: 1px;
                                        font-weight: 600;
                                        margin-bottom: 10px;

                                        &.stack-title {
                                            margin-top: 25px;
                                        }
                                    }

                                    .characters,
                                    .operators {
                                        min-height: 45px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        gap: 10px;

                                        &.operators {
                                            min-height: 30px;
                                        }

                                        .char,
                                        .operator {
                                            width: 45px;
                                            min-width: 45px;
                                            width: fit-content;
                                            padding: 5px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            background: #ffffff73;
                                            border-radius: 5px;

                                            &.active {
                                                background-color: #FFF;
                                                border: 2px solid #02ba5a;

                                                p {
                                                    color: #02ba5a;
                                                }
                                            }

                                            &.operator {
                                                background: #0000007f;
                                            }

                                            &.sorted {
                                                background: #FFFFFF;

                                                p {
                                                    color: #02ba5a;
                                                }
                                            }

                                            p {
                                                margin: 0px;
                                                padding: 0px;
                                                font-size: 18px;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .list-types-wrap {
                            width: 60%;
                            display: flex;

                            .list-types {
                                margin-bottom: 30px;
                                display: flex;
                                justify-content: center;
                                flex: 1;
                                gap: 10px;

                                .btn {
                                    flex: 1;
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: #FFF;
                                    background: #14b5ff92;
                                    border: 1px solid #14b5FFA5;

                                    &.active {
                                        background: #08EE77BE;
                                        border: 1px solid #08EE77BE;
                                    }
                                }
                            }
                        }
                    }

                    .features-wrap {
                        padding: 20px;
                        flex: .4;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        background: #00000053;
                        border-radius: 5px;

                        &.stack-features {
                            flex: unset;
                            width: 50%;
                            justify-content: center;
                            background: transparent;

                            .array-builder-wrap {

                                .array-builder {
                                    display: flex;
                                    gap: 10px;

                                    .btn {
                                        white-space: pre;
                                    }
                                }
                            }

                            .controls-wrap {
                                margin-bottom: 30px;

                                .inputs-wrap {
                                    display: flex;
                                    align-items: flex-end;
                                    gap: 10px;

                                    .input-box {
                                        flex: 1;

                                        input {

                                            &::-webkit-inner-spin-button,
                                            &::-webkit-outer-spin-button {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }

                            .controls {
                                gap: 10px;
                            }
                        }

                        .output-wrap {
                            flex: 1;
                            max-height: 100px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 5px;
                            background: #00000036;

                            .output {
                                height: 45px;
                                min-width: 45px;
                                width: fit-content;
                                margin: 0px 2px;
                                padding: 5px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: #FFF;
                                border-radius: 5px;

                                &.temp {
                                    background: #FFFFFF9b;

                                    p {
                                        color: #FFF;
                                    }
                                }

                                p {
                                    margin: 0px;
                                    font-weight: bold;
                                    font-size: 18px;
                                    color: #3ad585;
                                }
                            }
                        }

                        .controls {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 6px;

                            .btn.btn-light {
                                display: flex;
                                flex-grow: 1;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav-tabs.nav-tabs-primary {

    .nav-item {
        flex: 0 0 50%;
    }
}

button.swal2-confirm {
    min-width: 100px;

    &:focus {
        box-shadow: none;
        border: none;
    }
}

form .steps-wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;

    .form-group {
        flex: 1;
        min-width: 70%;
        margin: 0px;

        label {
            margin: 0px;
        }

        input {
            margin-top: 10px;
        }
    }

    .plus-wrap {
        position: relative;
        bottom: 1px;
        width: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;

        .btn {
            color: #FFF;
            background: #FFFFFF20;
            border-color: #FFFFFF20;

            &:hover {
                background: #FFFFFF2E;
                border: #FFFFFF2E;
            }
        }
    }
}